@use "../Partials/Variables" as *;

.header__con {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $spacing-sm;

  .cart__amount {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-color-orange;
    border-radius: $border-radius-round;
    width: 1.2rem;
    height: 1.2rem;
    color: $font-color-white;
    font-size: $font-size-xs;
    margin-bottom: 2rem;
    margin-left: 1rem;
    transform: translate(50%, -50%);
  }

  .cart__con {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 1rem;
  }


}
