@use '../Partials/Variables' as *;

.header__con {
    background-size: cover;
    background-position: cover;
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-sm 0;
}

.cart__amount {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-color-orange;
    border-radius: $border-radius-round;
    width: .875rem;
    height: .875rem;
    color: $font-color-white;
    font-size: $font-size-xs;
}