@use '../Partials/Variables' as *;

.header__con {
    background-size: cover;
    background-position: cover;
    width: 100%;
    height: 7rem;
    
}

.cart__amount {
    background-color: $bg-color-orange;
    border-radius: $border-radius-round;
    width: .875rem;
    height: .875rem;
    color: $font-color-white;
    font-size: $font-size-xs;
}