@use "../Partials/Variables" as *;

body.menu-open {
	overflow: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
}

.nav {
	&__icon {
		cursor: pointer;
		z-index: 1001;
		width: 3rem;
		height: 3rem;
		margin-bottom: 2rem;
	}

	&__menu {
		position: fixed;
		top: 0;
		left: 50%;
        transform: translateX(-50%);
		width: 480px;
		height: 100%;
		max-height: 1010px;
		background: $bg-color-brown;
		z-index: 1000;
		display: flex;
		justify-content: center;
		align-items: center;

		&-content {
			text-align: center;
			width: 100%;
		}
	}
}

nav {
	ul {
		display: flex;
		flex-direction: column;
		gap: $spacing-md;

		li {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: $spacing-md;
			color: $font-color-white;
			font-size: $font-size-h3;
			font-weight: $font-weight-bold;
			cursor: pointer;

			&:hover {
				opacity: 0.8;
			}
		}
	}
}

.divider-line {
	width: 3rem;
	border-top: 1px solid rgba(128, 128, 128, 0.73);
}
