//COLORS
$bg-color-pink: rgb(201, 190, 188);
$bg-color-brown: rgba(47, 41, 38, 1);
$bg-color-orange: rgba(229, 103, 78, 1);
$bg-color-dark-green: rgba(56, 132, 109, 1);

//FONTS
$font-primary: 'PT Serif', serif;
$font-secondary: 'Work Sans', serif;

$font-color-black: $bg-color-brown;
$font-color-white: rgba(255, 255, 255, 1);

$font-weight-normal: 400;
$font-weight-medium-bold: 600;
$font-weight-bold: 700;

$font-size-xxs: .55rem;
$font-size-xs: .8125rem;
$font-size-sm: 1.25rem;
$font-size-md: 1.45rem;
$font-size-ld: 2rem;
$font-size-xl: 2.25rem;
$font-size-xxl: 2.625rem;

//LINE HEIGHT
$line-height-small: 1.4rem;
$line-height-md: 1.875rem;
$line-height-lg: 2.625rem;
$line-height-xl: 3.25rem;

//BORDER RADIUS
$border-radius-sm: 3px;
$border-radius-round: 50% ;

// Spacing(margin och paddings)
$spacing-xxs: .25rem;
$spacing-sm: .5rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;
$spacing-xxl: 3rem;

