@use '../Partials/Variables' as *;

.menu {
    width: 100%;
    height: 100%;
    background-color: $bg-color-pink;
    

    img {
        width: 100%;
    }

    h1 {
        font-family: $font-primary;
        justify-self: center;   
        text-align: center;
        font-size: 42px;
    }
}

header {
    padding-bottom: $spacing-xl;
}


.MenuItems {
    display: flex;
    align-items: center;
    flex-direction: column;
  /*   justify-content: space-between; */
    flex-wrap: wrap;

    h3{
        font-family: $font-primary;
    }

    .MenuItemsImg {
        height: 4rem;
        width: 4rem;
        }
        p{
            font-family: $font-secondary;
            font-size: $font-size-xs;
        }
        .Sum {
            flex-direction: row;
            font-family: $font-secondary;
           /*  align-self: flex-end; */
            font-size: $font-size-lg;
            font-weight: $font-weight-medium-bold;
            
        }
}

/* .CoffeeInfo {
    display: flex;
    flex-direction: row;

} */


.cont{
   display: flex;
   align-items: center;
   justify-content: center;
}
.top{
    font-family: $font-primary;
    font-size: 23px;
    font-weight: 700;
}

.bottom{
    font-family: Work Sans;
     font-size: $font-size-lg;
     font-weight: 400;
     font-size: 12px;
}