@use '../Partials/Variables' as *;

.wrapper-status {
    width: 100%;
    height: 100vh;
    max-height: 1010px;
    display: flex;
    flex-direction: column;
    background-color: $bg-color-orange;
    align-items: center;
    justify-content: space-evenly;
    color: $font-color-white;
    text-align: center;


        .status-header {
            font-family: $font-secondary;
            font-weight: $font-weight-normal;
            font-size: $font-size-xs;
            }
}

.status-underheader {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    width: 80%;
    font-family: $font-primary;
    font-weight: $font-weight-bold;
    }
    .status-text {
        font-size: 22px;
        padding-top: 7%;
        font-family: $font-secondary;
        font-weight: $font-weight-bold;
}


.status-button {
    width: 184px;
    height: 55px;
    border-radius: 50px;
    border-style: none;
    font-size: 24px;
    font-family: $font-primary;
    font-weight: $font-weight-bold;
    
}
